@import "../node_modules/bootswatch/dist/sandstone/variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootswatch/dist/sandstone/bootswatch";

@media only screen and (min-width: 	1400px) {
  .collapsed-nav {
    width: 50px !important;
  }
  .extended-nav {
    width: 200px !important;
  }
  #top-nav, #footer{
    min-height: 4vh;
  }
  #body{
    min-height: 80vh;
  }
}
.alert-display{
  z-index:9999; 
  animation: 0.25s ease-out 0s 1 slideIn;
  margin: 0;
}
@keyframes slideIn{
  0% {
    transform: translateY(+100%);
  }
  100% {
    transform: translateY(0);
  }
}


