/* This .css file is holding all of the information for the styling in all files*/

:root {
    --SiteNavBarColor: #673ab7;
    --SiteNavBarTextColor: white;
    --SiteNavBarTextHoverColor: orange;

    --SitePrimaryBgColor: #673ab7;
    --SiteSecondaryBgColor: #eeeeee;

    --SiteMainBtnBgColor: orange;
    --SiteMainBtnTextColor: white;
    --SiteMainBtnHoverColor: mediumpurple;

    --SiteMainBorderColor: black;

    --SiteMainProgressBarColor: green;

    --SiteMainModalColor: white;

    --DeleteBtnColor: #d9534f;
    --DeleteBtnTextColor: #ffffff;
    --DeleteBtnHoverColor: #d62f2a;

    --YesBtnColor: #28a745;
    --YesBtnTextColor: #ffffff;
    --YesBtnHoverColor: #218838;

    --NoBtnColor: #d9534f;
    --NoBtnTextColor: #ffffff;
    --NoBtnHoverColor: #d62f2a;

    --OkayBtnColor: #dadada;
    --OkayBtnTextColor: #000000;
    --OkayBtnHoverColor: #c1c1c1;

    --EditBtnColor: orange;
    --EditBtnTextColor: white;
    --EditBtnHoverColor: mediumpurple;

    --ShareIconTeamsPageColor: black;
}


/* Styling in the Login Button component*/
.BoxPadding {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}

.LoginButton {
    background-color: var(--SiteMainBtnBgColor) !important;
    color: var(--SiteMainBtnTextColor) !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 5px 12px !important;
}
.LoginButton:hover {
    background-color: var(--SiteMainBtnHoverColor) !important;
    color: var(--SiteMainBtnTextColor) !important;
}

.LogoutButton {
    background-color: var(--SiteMainBtnBgColor) !important;
    color: var(--SiteMainBtnTextColor) !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 5px 12px !important;
}
.LogoutButton:hover {
    background-color: var(--SiteMainBtnHoverColor) !important;
    color: var(--SiteMainBtnTextColor) !important;
}

/*Drawer Component*/

.DrawerColor {
    background-color: var(--SiteNavBarColor) !important;
    flex-direction: column;
    flex-grow: 1;
}

.DrawerAlignment {
    display: flex;
    justify-content: center;
    align-items: center;
}
.HamburgerMenuColor {
    color: var(--SiteNavBarTextColor) !important;
}
.HeaderInDrawer {
    margin-right: 2px !important;
    font-family: monospace !important;
    font-weight: 700 !important;
    letter-spacing: 5px !important;
    color: var(--SiteNavBarTextColor) !important;
    text-decoration: none !important;
    font-size: 20px !important;
    align-items: center !important;
    flex-wrap: nowrap !important;
}
.HeaderInDrawer:hover {
    color: var(--SiteNavBarTextHoverColor) !important;
}

.LoginNameInDrawer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--SiteNavBarTextColor) !important;
    padding-top: 2rem;
}

.DrawerLinks {
    color: var(--SiteNavBarTextColor) !important;
    text-decoration: none !important;
    margin: 1rem !important;
    position: relative !important;
}

/*NavMenu*/

.HeaderInNavMenu {
    margin-right: 2px !important;
    font-family: monospace !important;
    font-weight: 700 !important;
    letter-spacing: 5px !important;
    color: var(--SiteNavBarTextColor) !important;
    text-decoration: none !important;
    font-size: 20px !important;
    align-items: center !important;
    flex-wrap: nowrap !important;
}

@media (min-width: 400px) {
    .HeaderInNavMenu {
        display: none;
    }
}
@media (min-width: 600px) {
    .HeaderInNavMenu {
        display: flex;
    }
}

.HeaderInNavMenu:hover {
    color: var(--SiteNavBarTextHoverColor) !important;
}

.NavMenuLinks {
    color: var(--SiteNavBarTextColor) !important;
    text-decoration: none !important;
    margin: auto !important;
    position: center !important;
    border-left: 1px solid !important;
    padding: 0px 7px 0px 7px !important;
    flex-wrap: nowrap !important;
}

.NavMenuLinks:hover {
    color: var(--SiteNavBarTextHoverColor) !important;
}


.NavMenuColorAndPosition {
    background-color: var(--SiteNavBarColor) !important;
    position: fixed !important;
}

.NavMenuPadding {
    padding-bottom: 5rem;
}

.LoginFeaturesInNavMenu {
    align-items: center;
}
@media (min-width: 400px) {
    .LoginFeaturesInNavMenu {
        display: none;
    }
}

@media (min-width: 600px) {
    .LoginFeaturesInNavMenu {
        display: flex;
    }
}

.NavMenuSpacing {
    flex-direction: row;
    flex-grow: .5;
}

@media (min-width: 1100px) {
    .NavMenuSpacing {
        display: flex;
    }
}

.UserNameSpacing {
    padding-left: 1rem !important;
}
/* ProgressBar Component */

.ProgressBarTextLocation {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 35px;
}
.ProgressBarPercentageTextDetails {
    font-size: 22px !important;
    color: var(--SiteMainBtnTextColor) !important;
    font-weight: bold !important;
}
.ProgressBarTextDetails {
    font-size: 14px !important;
    color: var(--SiteMainBtnTextColor) !important;
}
.ProgressBarBarDetails {
    width: 100%;
    margin-right: .5rem;
}
.ProgressBarTextStyling {
    width: 50%;
}
.ProgressBarDetails{
    color: var(--SiteMainProgressBarColor) !important;
    border-radius: 100px !important;
    height: 20px !important;
}

.ShareIcon {
    color: var(--SiteMainBtnTextColor) !important;
    background: none !important;
}
.ShareIconTeams {
    color: var(--ShareIconTeamsPageColor) !important;
    background: none !important;
}
.ShareButton {
    background-color: var(--SiteMainBtnBgColor) !important;
    margin: 3px !important;
}
.ShareButton:hover{
    background-color: var(--SiteMainBtnHoverColor) !important;
    color: var(--SiteMainBtnTextColor) !important;
}
/*Team Info Modal*/

.TeamInfoModalHeader{
    font-size: 24px !important;
    font-weight: bold !important;
    letter-spacing: 1px !important;
}
.TeamModalDescription {
    margin-top: 1rem !important;
}
.TeamModalClose {
    margin-top: 1rem !important;
}
.ModalPositionAndDetails {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 420px;
    background-color: var(--SiteMainModalColor) !important;
    border: 2px solid #000;
    box-shadow: 24px;
    padding: 1.5rem 1.5rem 1rem 1.5rem;
}


/* Page styling */
/* Home Page */

.PaperColor {
    background-color: var(--SitePrimaryBgColor) !important;
}
.CurrentEventPosition {
    display: flex;
    justify-content: center;
    align-items: center;
}
.CurrentEventTextDetails {
    font-size: 24px !important;
    font-weight: bold !important;
    letter-spacing: 1px !important;
    color: var(--SiteNavBarColor);
}
.ShareIconPosition {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.YoutubePlayerPosition {
    display: flex;
    justify-content: center;
}
.ProgressBarPosition {
    display: flex;
    justify-content: center;
}
.DonateButtonPosition {
    display: flex;
    justify-content: center;
    align-items: center;
}
.DonateButtonDetails {
    background-color: var(--SiteMainBtnBgColor) !important;
    margin: 1rem !important;
}
.DonateButtonDetails:hover {
    background-color: var(--SiteMainBtnHoverColor) !important;
}
.SecondaryPaperColor {
    background-color: var(--SiteSecondaryBgColor) !important;
}
.SubTextHeaderPosition {
    display: flex;
    justify-content: center;
}
.SubTextHeaderDetails {
    font-size: 20px !important;
    font-weight: bold !important;
}
.SubTextBodyPosition {
    display: flex;
    justify-content: center;
}
.SubTextBodyDetails {
    font-size: 15px !important;
    padding-left: 1rem !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.TeamInfoModalPosition {
    display: flex !important;
    justify-content: center !important;
}
.TeamButtonPositions {
    display: flex !important;
    justify-content: center !important;
}
.JoinTeamButtonDetails {
    background-color: var(--SiteMainBtnBgColor) !important;
    margin: 1rem !important;
}
.CreateTeamButtonDetails {
    background-color: var(--SiteMainBtnBgColor) !important;
    margin: 1rem !important;
}

/* Create Team Page */

.FormPageContentPosition {
    display: flex;
    justify-content: center;
}
.FormBorder {
    width: 90vw;
    border: solid #673ab7;
    border-radius: 30px;
}
.FormRowOne {
    display: flex;
    justify-content: center;
}
.FormRowTwo {
    display: flex;
    justify-content: center;
}
.FormRowThree {
    display: flex;
    justify-content: center;
}
.FormRowFour {
    display: flex;
    justify-content: center;
}
.FormRowFive {
    display: flex;
    justify-content: center;
}
.FormRowFiveColumnPosition{
    display: flex !important;
    justify-content: center !important;
}
.FormButtonPosition {
    display: flex !important;
    justify-content: center !important;
}
.FormButtonSubmit {
    background-color: var(--SiteMainBtnBgColor) !important;
}

/* Create Event Page */

.EventHeader{
    text-align: center;
}

.FormEventPageContentPosition {
    display: flex;
    justify-content: center;
}

.FormEventBorder {
    width: 90vw;
    border: solid #673ab7;
    border-radius: 30px;
}

.FormEventRowOne {
    display: flex;
    justify-content: center;
}

.FormEventRowTwo {
    display: flex;
    justify-content: center;
}

.FormEventRowThree {
    display: flex;
    justify-content: center;
}

.FormEventRowFour {
    display: flex;
    justify-content: center;
}

.FormEventRowFive {
    display: flex;
    justify-content: center;
}
.FormEventRowSix {
    display: flex;
    justify-content: center;
}
.FormEventButtonPosition {
    display: flex !important;
    justify-content: center !important;
}
.FormEventButtonSubmit {
    background-color: var(--SiteMainBtnBgColor) !important;
}

/* Team Details Page */

.TeamDetailsPosition {
    display: flex;
    justify-content: flex-end;
    float: right;
}
.JoinATeamButton {
    background-color: var(--SiteMainBtnBgColor) !important;
    margin: 3px !important;
    font-size: 10px !important;
    color: var(--SiteMainBtnTextColor) !important;
}
.JoinATeamButton:hover {
    background-color: var(--SiteMainBtnHoverColor) !important;
    color: var(--SiteMainBtnTextColor) !important;
}

/* Admin Dashboard */
.AdminPaperDetails {
    background-color: var(--SitePrimaryBgColor) !important;
    padding-bottom: 1em !important;
    padding-top: 1em !important;
}

.AdminCurrentEventDetails {
    display: flex;
    justify-content: center;
}
.AdminCurrentEventTextDetails {
    color: var(--SiteNavBarTextColor) !important;
    font-size: 24px !important;
    font-weight: bold !important;
    letter-spacing: 1px !important;
    padding-right: 2em;
}
.AdminButtonDetails {
    max-width: 40px !important;
    max-height: 40px !important;
    background-color: var(--SiteMainBtnBgColor) !important;
    border: groove !important;
    border-color: var(--SiteMainBorderColor) !important;
    border-width: 2px !important;
    margin: 3px !important;
    font-size: 12px !important;
    color: var(--SiteMainBtnTextColor) !important;
}
.AdminButtonDetails:hover {
    background-color: #446ccf !important;
}

.EventEditDeleteFormDetails input {
    color: var(--SiteMainBtnTextColor) !important;
}
.EventFormPosition {
    display: fixed !important;
    justify-content: center !important;
    align-content: center !important;
    padding-left: 2em !important;
}

.PaddingBetweenItems {
    padding-top: 2em !important;
    display: fixed !important;
    justify-content: center !important;
}

.UpdateButtonDetails {
    background-color: var(--EditBtnColor) !important;
    color: var(--EditBtnTextColor) !important;
    margin: 1rem !important;
}
.DeleteButtonDetails {
    background-color: var(--DeleteBtnColor) !important;
    color: var(--DeleteBtnTextColor) !important;
    margin: 1rem !important;
}

.AccordionSpacing {
    margin-top: 1em !important;
}
.AccordionDetails {
    transition: box-shadow .3s;
    border: groove 1px !important;
    flex-direction: row-reverse !important;
}
.AccordionDetails:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
.InnerAccordionSpacing {
    margin-top: 1em !important;
}
.InnerAccordionDetails {
    transition: box-shadow .3s;
    border: groove 1px !important;
    flex-direction: row-reverse !important;
}
.InnerAccordionDetails:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.TeamsSpacing{
    margin-top: -.75rem !important;
    margin-left: auto !important;
}

.UpdateTeamButtonDetails {
    max-width: 40px !important;
    max-height: 20px !important;
    font-size: 10px !important;
    background-color: var(--EditBtnColor) !important;
    color: var(--EditBtnTextColor) !important;
    margin: .5rem !important;
}

.DeleteTeamButtonDetails {
    max-width: 40px !important;
    max-height: 20px !important;
    font-size: 10px !important;
    background-color: var(--DeleteBtnColor) !important;
    color: var(--DeleteBtnTextColor) !important;
    margin: .5rem !important;
}

/* Donation Page */

.DonationPageHeader {
    font-size: 30px !important;
    font-weight: bold !important;
}

/* BackToDonationButton */

.BackToDonateButtonDetails {
    background-color: orange !important;
    margin: 1rem !important;
}
.BackToDonateButtonDetails:hover {
    background-color: var(--SiteMainBtnHoverColor) !important;
}


.JoinTeamModal {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: 400px !important;
    background-color: white !important;
    border: 2px solid #000 !important;
    box-shadow: 24px !important;
}

.JoinTeamModalYesButton {
    align-content: center !important;
    justify-content: center !important;
    background-color: var(--YesBtnColor) !important;
    margin-right: 6px !important;
}
JoinTeamModalNoButton {
    background-color: var(--NoBtnHoverColor) !important;
    margin-left: 6px !important;
}
JoinTeamModalButtonPosition {
    align-content: center !important;
    justify-content: center !important;
}

/* Dynamic Modal */

.YesButton {
    width: 48% !important;
    color: var(--YesBtnTextColor) !important;
    background-color: var(--YesBtnColor) !important;
    border-color: var(--YesBtnColor) !important;
    margin-right: 5px !important;
    font-weight: bold !important;
    font-size: 20px !important;
}
.YesButton:hover {
    color: var(--YesBtnTextColor) !important;
    background-color: var(--YesBtnHoverColor) !important;
}
.NoButton {
    width: 48% !important;
    color: var(--NoBtnTextColor) !important;
    background-color: var(--NoBtnColor) !important;
    border-color: var(--NoBtnColor) !important;
    font-weight: bold !important;
    font-size: 20px !important;
}
.NoButton:hover {
    color: var(--NoBtnTextColor) !important;
    background-color: var(--NoBtnHoverColor) !important;
}