# Copy this file, remove the .example extension, and put in the proper values
api_dbuser = ""
api_dbpassword = ""
keycloak_dbuser = ""
keycloak_dbpassword = ""
keycloak_admin_username = ""
keycloak_admin_password = ""